<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup: SimpleToDo</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="heading">
        <h1>SimpleToDo</h1>
      </div>
      <div class="flash"><%= messages %></div>
      <div id="login-div">
        <a href="/login"> <button>Log In</button> </a>
      </div>

      <h3>Sign Up</h3>
      <div class="forms-div">
        <form action="/register" method="post">
          <label for="username"> Username: </label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="username"
            required
          />

          <label for="password"> Password: </label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="password"
            required
          />

          <button class="buttons" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
